body     {background-color:#fafafa;
         }

h1       {text-align      : center;
          font            : 36px "Helvetivca", sans-serif;
         }

img.displayed {
          display         : block;
          margin-left     : auto;
          margin-right    : auto;
          width           : 18em 
         }

h2       {font            :30px "Helvetica",sans-serif;}
h3       {font            :24px "Helvetica",sans-serif;}

h2,h3    {display    :block;
         margin-left: auto;
         margin-right: auto;
         width: 60%
         }

p.myprojects{
         display    :block;
         margin-left: auto;
         margin-right: auto;
         width: 6em
         }
